@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&family=Rowdies:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rosario:ital,wght@0,300..700;1,300..700&family=Rowdies:wght@300;400;700&display=swap');

* {
    font-size: auto;
    box-sizing: border-box;
    font-family: Rosario;
}

/* ------------ HEADER --------- */

header {
    display: flex;
    justify-content: space-between;
}

.divnav1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
}

.h1header {
    margin-left: 8px;
    font-family: Rowdies;
    font-size: 36px;
    color: #FF4F5A;
}

.divnav2 {
    display: flex;
    padding-right: 20px;
    align-items: center;
}

.divnav2 > a {
    margin: 8px;
    color: black;
    text-decoration: none;
}

/* -------------- MAIN -------------- */

.section1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 48px;
}

.section1 > img {
    display: flex;
    margin: auto;
    min-width: 100%;
    max-width: 100%;
}

button {
    width: 200px;
    height: 58px;
    margin: auto;
    border: 0px;
    border-radius: 8px;
    background-color: #FF4F5A;
    color: white;
    font-size: 32px;
}

.section2 h1 {
    display: flex;
    justify-content: center;
}

.section2 > .img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 15px;
}

.section2 .texto {
    display: flex;
    font-family: Roboto;
    justify-content: center;
    align-items: flex-end;
    font-weight: bolder;
    gap: 65px;
    padding: 15px;
}

a:hover {
    color: #FF4F5A;
}